body {
    background: #ffffff;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

canvas {
    margin-top: 20vh;
    margin-left: 30vw;
    width: 600px;
    height: 600px;
    background-color: white;
    border: 5px dotted #305E17;
}